@font-face {
  font-family: "iconfont"; /* Project id 4088213 */
  src: url('iconfont.woff2?t=1685071991875') format('woff2'),
       url('iconfont.woff?t=1685071991875') format('woff'),
       url('iconfont.ttf?t=1685071991875') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_mima:before {
  content: "\e60b";
}

.icon-icon_yonghu:before {
  content: "\e60c";
}

